<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
  <div class="main-content">
    {{>header}}
    <h1>{{title}}</h1>
    <img class="portrait" src="/img/me.png">
    <p>Hi, I am Artur. I am excited to build this awesome website, by using:</p>
    <p>Node.js, Express, Handlebars and weather API</p>
  </div>

  {{>footer}}
</body>

</html>