<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
  <div class="main-content">
    {{>header}}
    <h1>{{title}}</h1>
    <p>Hi, I am Artur.</p>
    <img class="portrait" src="/img/me.png">
    <p>I am excited to build this awesome website,</p>
    <p>where you can get current weather of any location.</p>
    <p>Stack of usage:</p>
    <p>Node.js, Express.js, Handlebars, CSS, Mapbox Geocoding API and Weatherstack API </p>
  </div>

  {{>footer}}
</body>

</html>